[submodule "src/etl"]
	path = src/externals/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "formatter"]
	path = formatter
	url = https://github.com/dev-0x7C6/clang-formatter-integration.git
[submodule "src/externals/common"]
	path = src/externals/common
	url = https://github.com/dev-0x7C6/common.git
[submodule "src/externals/protocol"]
	path = src/externals/protocol
	url = https://github.com/dev-0x7C6/led-frame-protocol.git
